<!doctype html>
<html>
<head>
    <title>{% block title %}{{ this.title }} | The Tor Project{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
    <link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/static/images/favicon/favicon.ico'|url }}">
    <link rel="icon" type="image/png" href="{{ '/static/images/favicon/favicon.png'|url }}">
    {%- block feed %}{% endblock -%}
    {%- block graph %}{% endblock -%}
</head>
<body>
  <header>
    <nav>
      <a class="navbar-brand" href="{{ '/'|url }}"><img alt="Tor Blog" src="{{ '/static/images/logo.png'|url }}" /></a>
      <ul class="navbar-nav">
        {%- for href, title in [
          ['https://www.torproject.org/about/history/', 'About'],
          ['https://support.torproject.org/', 'Support'],
          ['https://community.torproject.org/', 'Community'],
          ['https://forum.torproject.net/', 'Forum'],
          ['https://donate.torproject.org/', 'Donate']
        ] %}
          <li><a href="{{ href }}">{{ title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>
  </header>
  <section class="content">
    <main>
      {%- block body %}{% endblock -%}
    </main>
    <aside class="sidebar">
      {%- include "sidebar.html" -%}
    </aside>
  </section>
  <footer>
      {%- include "footer.html" -%}
  </footer>
</body>
</html>
